*{
  width: 0px;
  padding: 0px;
}
nav{
  width: 50px;
  width: 50px;
}
.square1{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #D68910;
  width: 200px;
  height: 200px;
  margin: auto;
}
.square2{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #F39C12;
  width: 200px;
  height: 200px;
  margin: auto;
}
.square3{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #F8C471;
  width: 200px;
  height: 200px;
  margin: auto;
}
.square4{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  margin: auto;
  background-color: #E67E22;
  width: 200px;
  height: 200px;
}
.square5{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  background-color: #E59866;
  width: 200px;
  height: 200px;
}
.square6{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  background-color: #F5CBA7  ;
  width: 200px;
  height: 200px;
}

.square7{
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #F39C12;
  width: 200px;
  height: 200px;
}

.square8{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #F1C40F;
  width: 200px;
  height: 200px;
  margin: auto;
}

.square9{
  position: absolute;
  bottom: 0px;
  right: 0px;px;
  background-color: #F4D03F;
  width: 200px;
  height: 200px;
  margin: auto;
}
/**************************************************************************************************************************************/
.square1 nav:first-child{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square1 nav:nth-child(2){
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square1 nav:nth-child(3){
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square1 nav:nth-child(4){
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square1 nav:nth-child(5){
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square1 nav:nth-child(6){
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square1 nav:nth-child(7){
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square1 nav:nth-child(8){
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square1 nav:nth-child(9){
  position: absolute;
  right:  0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
/********************************************************************************************************/
.square2 nav:first-child{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square2 nav:nth-child(2){
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square2 nav:nth-child(3){
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square2 nav:nth-child(4){
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square2 nav:nth-child(5){
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square2 nav:nth-child(6){
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square2 nav:nth-child(7){
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square2 nav:nth-child(8){
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square2 nav:nth-child(9){
  position: absolute;
  right:  0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
/************************************************************************************************/
.square3 nav:first-child{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square3 nav:nth-child(2){
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square3 nav:nth-child(3){
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square3 nav:nth-child(4){
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square3 nav:nth-child(5){
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square3 nav:nth-child(6){
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square3 nav:nth-child(7){
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square3 nav:nth-child(8){
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square3 nav:nth-child(9){
  position: absolute;
  right:  0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
/*****************************************************************************************/
.square4 nav:first-child{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square4 nav:nth-child(2){
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square4 nav:nth-child(3){
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square4 nav:nth-child(4){
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square4 nav:nth-child(5){
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square4 nav:nth-child(6){
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square4 nav:nth-child(7){
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square4 nav:nth-child(8){
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square4 nav:nth-child(9){
  position: absolute;
  right:  0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
/******************************************************************************************/
.square5 nav:first-child{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square5 nav:nth-child(2){
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square5 nav:nth-child(3){
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square5 nav:nth-child(4){
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square5 nav:nth-child(5){
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square5 nav:nth-child(6){
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square5 nav:nth-child(7){
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square5 nav:nth-child(8){
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square5 nav:nth-child(9){
  position: absolute;
  right:  0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
/*****************************************************************/
.square6 nav:first-child{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square6 nav:nth-child(2){
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square6 nav:nth-child(3){
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square6 nav:nth-child(4){
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square6 nav:nth-child(5){
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square6 nav:nth-child(6){
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square6 nav:nth-child(7){
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square6 nav:nth-child(8){
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square6 nav:nth-child(9){
  position: absolute;
  right:  0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
/******************************************************************************************/
.square7 nav:first-child{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square7 nav:nth-child(2){
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square7 nav:nth-child(3){
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square7 nav:nth-child(4){
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square7 nav:nth-child(5){
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square7 nav:nth-child(6){
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square7 nav:nth-child(7){
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square7 nav:nth-child(8){
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square7 nav:nth-child(9){
  position: absolute;
  right:  0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
/********************************************************************/
.square8 nav:first-child{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square8 nav:nth-child(2){
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square8 nav:nth-child(3){
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square8 nav:nth-child(4){
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square8 nav:nth-child(5){
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square8 nav:nth-child(6){
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square8 nav:nth-child(7){
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square8 nav:nth-child(8){
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square8 nav:nth-child(9){
  position: absolute;
  right:  0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
/********************************************************************************/
.square9 nav:first-child{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square9 nav:nth-child(2){
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square9 nav:nth-child(3){
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square9 nav:nth-child(4){
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square9 nav:nth-child(5){
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square9 nav:nth-child(6){
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square9 nav:nth-child(7){
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square9 nav:nth-child(8){
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
.square9 nav:nth-child(9){
  position: absolute;
  right:  0px;
  bottom: 0px;
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
}
